#logo {
	height:40px;
	width: 120px;
	background-image:url(../icons/logo.png);
	background-size:contain;
}

#logoText, #hiddenLogoText {
	padding-top: 22px;
}

#hiddenLogoText {
	overflow: hidden;
	height: 0px;
}

#subredditButton {
	width: 120px;
}

.dataItem {
	height: 80px;
	border: solid grey 1px;
	overflow: hidden;
}

.scoreBox, .button {
	height: 60px;
	width: 60px;
	margin: 10px;
}

.scoreBox {
	border-radius: 5px;
}

.icon {
	background-image: url('../icons/arrow.png');
	background-size: contain;
	border-radius: 100%;
}

.score {
	line-height: 20px;
    font-size: 20px;
    position: relative;
    top: 20px;
    text-align: center;
    background: white;
    opacity: .6;
    border-radius: 5px;
    display:inline-block;
}

.nsfw {
	background-color: rgba(256,0,0,.1);
	border: red solid 1px;
}

#postPanel {
	width: 90%;
	height: 90%;
}

.subtitle {
	float: right;
	opacity: .2;
	margin: 0px 15px;
}